.moduleWrap {
	display: flex;
	flex-wrap: wrap;
}

.title {
	font-weight: 700;
	font-size: 26px;
	line-height: 120%;
}

.moduleName {
	font-weight: 400;
	font-size: 32px;
	line-height: 120%;
}

.disciplines {
	font-weight: 300;
	font-size: 16px;
	line-height: 120%;
	max-width: 353px;
}

.stick {
	width: 97%;
	border: 1px solid #ff3535;
}

.disciplinesWrap {
	align-self: flex-end;
	margin: 0 0 1%;
}
