.moduleWrap {
	display: flex;
	justify-content: space-between;
	width: 45%;
	position: relative;
}

.disciplinesWrap {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding-left: 5px;
}

.disciplines {
	font-weight: 300;
	font-size: 16px;
	line-height: 120%;
	max-width: 353px;
	padding-left: 10px;
}

.disciplines::marker {
	font-size: 95%;
	color: #ff3535;
}

.moduleName {
	font-weight: 400;
	font-size: 32px;
	line-height: 120%;
	vertical-align: middle;
}

.stick {
	width: 140px;
	border: 1px solid #ff3535;
	position: absolute;
	top: -30px;
}

.input {
	display: none;
}

@media screen and (max-width: 1100px) {
	.moduleWrap .moduleContent {
		display: none;
	}
	.stick {
		display: none;
	}
	.moduleWrap {
		display: block;
		width: 100%;
	}
	.disciplinesWrap {
		padding-top: 17px;
		padding-left: 18px;
	}
	.disciplines {
		max-width: 100%;
		padding-left: 3px;
	}
	.moduleName {
		font-weight: 300;
		font-size: 18px;
		margin-left: 26px;
	}
	.tabTitle {
		display: flex;
		align-items: center;
		height: 51px;
		width: 100%;
		cursor: pointer;
		background: #f7f7f7;
	}
	.tabTitle::before {
		content: '+';
		color: #d9d9d9;
		font-size: 42px;
		font-weight: lighter;
		margin-left: 25px;
		margin-bottom: 8px;
	}
	.moduleWrap :checked + .tabTitle {
		background-color: #ff3535;
		color: #fff;
	}

	.moduleWrap :checked + .tabTitle::before {
		content: '-';
		color: #fff;
		font-size: 50px;
		font-weight: lighter;
		margin-left: 25px;
		margin-bottom: 8px;
	}
	.moduleWrap :checked ~ .moduleContent {
		display: flex;
		justify-content: flex-start;
	}
}
