.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 90px;
	max-width: 1286px;
	margin: auto;
	padding: 70px 0 70px;
}

.header {
	font-weight: 700;
	font-size: 36px;
	line-height: 120%;
}
